<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MZN blog</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1 class="welcome">Welcome! MZN is your best day to day comfortable blogging website.</h1>
    
    <!-- Displaying Posts -->
    <% if (posts && posts.length > 0) { %>
        <% posts.forEach(function(post) { %>
            <div class="post">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>

                <!-- Form to Edit a Post -->
                <form action="/edit/<%= post.id %>?_method=PUT" method="POST">
                    <h3 class="edit">Edit your post:</h3>

                    <label for="editTitle">Edit title:</label>
                    <input type="text" id="editTitle" name="title" value="<%= post.title %>" placeholder="edit title" required>

                    <label for="editContent">Edit content:</label>
                    <input type="text" id="editContent" name="content" value="<%= post.content %>" placeholder="edit content" required>

                    <button type="submit">Update</button>
                </form>

                <!-- Form to Delete a Post -->
                <form action="/edit/<%= post.id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% }); %>
    <% } else { %>
        <div class="no-posts">
            <h2>No posts yet.</h2>
        </div>
    <% } %>
    
    <!-- Form to Create a New Post -->
    <h3 class="create">To create a new post 👇</h3>

    <form action="/create" method="POST">
        <label for="title">Title:</label>    
        <input type="text" id="title" name="title" placeholder="title" required>

        <label for="content">Content:</label>
        <input type="text" id="content" name="content" placeholder="content" required>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
